<header>
    <div class="flex-left">
        <div>
            <a href="/"><img width="64px" src="/img/butterfly_logo.png" alt="Logo"></a>
        </div>
        <div>
            <a href="/"><img width="255px" src="/img/titre_logo.png" alt="Logo"></a>
        </div>

        <div class="flex-right">
            <div>
                <img src="/img/setting.svg" alt="reglage">
            </div>
        </div>
    </div>



</header>
