<header>
    <div class="flex">
        <div class="flex-left">
            <div>
                <a href="/"><img width="45px" src="/img/butterfly_logo.png" alt="Logo"></a>
            </div>
            <div>
                <a href="/"><img width="125px" src="/img/titre_logo.png" alt="Logo"></a>
            </div>


        </div>
        <div class="flex-right">
            <div>
                <a href="{{ path('app_settings') }}"><img src="/img/setting.svg" alt="reglage"></a>
                <img src="/img/info.svg" alt="info">
            </div>
        </div>
    </div>

</header>
