{% extends 'base.html.twig' %}

{% block title %}Ajout nouveau membre pour la famille {% endblock %}

{% block body %}
    <h1>Ajouter un membre supplémentaire ou validez la famille en l'état</h1>


    {{ include('member/_form.html.twig') }}

<button><a href="{{ path('app_family_subscription', {'id': family.id}) }}">Valider les membres de la famille, et passer à la phase de paiement</a></button>


{% endblock %}
