{% extends 'base.html.twig' %}

{% block title %}Nouveau membre pour la nouvelle famille {% endblock %}

{% block body %}
    <div class="cont-hidden ">
        <div class="cont-title"><h1>Ajouter un titulaire à la famille</h1>
        </div>
        <div class="cont margin-0 padding-0">
            <p style="font-size: 20px" class="text-center bold">Avant de valider les détails de la famille, vous devez
                choisir le titulaire du compte: </p>
            <div>{{ include('member/_form.html.twig') }}</div>

        </div>
    </div>>
{% endblock %}
