{% extends 'base.html.twig' %}

{% block title %}Member{% endblock %}

{% block body %}
    <div class="cont-hidden flex-wrap margin-top-0 padding-top-0">
        <div class="cont-title padding-top-0 margin-top-0"><h1>Confirmation de suppression
            </h1>
            <p class="font-size-20">Etes vous sur de vouloir supprimer: <br> <span
                        class=" color-red">{{ member.firstName|upper }} {{ member.lastName|upper }}</span></p>

            {{ include('member/_delete_form.html.twig') }}

        </div>
    </div>
{% endblock %}
