{% extends 'base.html.twig' %}

{% block title %}KaNaMi{% endblock %}

{% block body %}
    {#    // supprimer plus tard le style min height 500px #}


    {#    supprimer plus tard le style min height 500px #}
    <div style="min-height: 500px" class="cont radius-bottom-right padding-0 bg-white">

        <div class="topnav">

            <a href="{{ path('app_settings') }}">Réglage général</a>
            <a class="active" href="settingsfamily.html.twig">Famille</a>
            <a href="#contact">Jeux</a>
            <a href="#about">Membres du staff</a>
        </div>

        <button class=""><a class="" href="{{ path('app_category_new') }}">Ajouter une catégorie</a></button>

        <button class=""><a class="" href="{{ path('app_family_new') }}">Ajouter une famille</a></button>

        <button class=""><a class="text-white text-decoration-none" href="{{ path('app_item_new') }}">Ajouter un
                jeu</a></button>


    </div>

    </div>
{% endblock %}
