{% extends 'base.html.twig' %}

{% block title %}Catégorie | ajouter{% endblock %}

{% block body %}
    <div class="cont-hidden ">
        <div class="cont-title"><h1>Ajouter une nouvelle catégorie</h1></div>
        <div class="cont margin-0 padding-0">


            {{ include('category/_form.html.twig') }}

        </div>
    </div>
{% endblock %}
