{% extends 'base.html.twig' %}

{% block title %}
    Cotisation

{% endblock %}

{% block body %}
    <h1>Cotisation</h1>
    <p>Pour pouvoir effectuer un emprûnt ou participer à une cession la cotisation doit être payée. Néanmoins, vous
        pouvez finir l’enregistrement
        de la famille sans valider cette étape, et un délai de 15 jours sera accorder pour le paiement.</p>
{% endblock %}
