{% extends 'base.html.twig' %}

{% block title %}New Loan{% endblock %}

{% block body %}
    <h1>Prêter le jeu <span style="color: #B0413E">  {{ item.name }} </span> à la famille <span style="color: #B0413E"> {{ member.lastName }}</span> ?</h1>

    {{ include('loan/_form.html.twig') }}

    <a href="{{ path('app_loan_index') }}">back to list</a>
{% endblock %}
