{% extends 'base.html.twig' %}

{% block title %}Prêt | retour{% endblock %}

{% block body %}
    <div class="cont-hidden">
        <div class="cont-title"><h1>Retour d'article</h1></div>
        <div class="cont padding-0">

            <div class="cont-form">
                <div class="completenessReturn">
                    <div>
                        {{ form_row(form.completenessReturn, { 'attr' : { 'class': 'completenessReturn' } }) }}
                    </div>

                </div>
            </div>
            <div class="cont-form">


                <div class="returnComment">
                    <div>
                        {{ form_row(form.returnComment, { 'attr' : { 'class': 'returnComment' } }) }}
                    </div>

                </div>
            </div>
            <div class="flex-justify-center">
                <div> {{ include('loan/_form.html.twig') }}</div>
            </div>


        </div>


    </div>


{% endblock %}
