{% extends 'base.html.twig' %}

{% block title %}Prêt{% endblock %}

{% block body %}
    <div class="cont-hidden">
        <div class="cont-title">
            <h1>Qui va louer le jeu {{ item.name }}</h1>
        </div>
        <div class="cont radius-bottom">
            {% for result in resultsFamily %}

                {% for relation in result.relationships %}
                    {% if relation.isOwner == 1 %}

                        {% if relation.family.maxLoanSimultaneous > 0 %}

                            <a href="{{ path('app_loan_new', {'idItem': item.id, 'idMember': result.id}) }}">
                                <div style=" background-color: rgba(149,214,164,0.2)"
                                     class="cont-result flex-align-center font-size-20">
                                    Famille {{ result.lastname|upper }}
                                    <img style="width: 30px" src="/img/valid_family.svg" alt=""></div>
                            </a>
                        {% endif %}

                        {% if relation.family.maxLoanSimultaneous == 0 %}

                            <div style=" background-color: rgba(196,196,196,0.3)"
                                 class="cont-result flex-align-center font-size-20">
                                Famille {{ result.lastname|upper }} | Plus de possibilitée de prêt.
                                <img style="width: 30px" src="/img/valid_family.svg" alt=""></div>

                        {% endif %}

                    {% endif %}

                {% endfor %}
            {% endfor %}
        </div>


    </div>




{% endblock %}
