<div class="margin-top-0 margin-bottom-0 sticky bg-green-dark flex-align-center">
    <div class="font-size-20 cont-hidden color-white ">
        <div style="text-align: center">
            Catégorie ajoutée!
        </div>
    </div>


</div>