<form method="post" action="{{ path('app_category_dependance_delete', {'id': category_dependance.id}) }}"
      onsubmit="return confirm('Etes vous sur de voloir supprimer la catégorie : {{ category_dependance.category }}?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ category_dependance.id) }}">
    <button class="btn">Supprimer la catégorie</button>
</form>
