{% extends 'base.html.twig' %}

{% block title %}New CategoryDependance{% endblock %}

{% block body %}
    <h1>Create new CategoryDependance</h1>

    {{ include('category_dependance/_form.html.twig') }}

    <a href="{{ path('app_category_dependance_index') }}">back to list</a>
{% endblock %}
