{% extends 'base.html.twig' %}

{% block title %}Attribuer une catégorie{% endblock %}

{% block body %}

    <div class="cont-hidden ">
        <div class="cont-title"><h1>Choisissez une catégorie</h1></div>

        <div class="cont margin-0 padding-0">


            <div class="cont-medium-hidden flex-space-center padding-10">
                {{ include('category_dependance/_form.html.twig') }}
            </div>
            <div style="width: 60%" class="cont-result">
                <h3 class="text-center margin-5 padding-5 font-size-25">Catégorie(s) séléctionnées</h3>
                <div class="flex-wrap"></div>

                {% if categories %}
                    {% for cat in categories %}

                        <span style="font-size: 18px" class="padding-10 margin-5 bold color-green"> {{ cat }}</span>
                        <a href="{{ path('app_category_dependance_delete_in_creation', {'id': cat.id, 'idItem': cat.item }) }}"><img width="25px"
                                                                                                       src="/img/close.svg"
                                                                                                       alt="supprimer"></a>



                    {% endfor %}
                {% endif %}

            </div>
            <div class="flex-right">
                <button><a href="{{ path('app_settings_item', {'idItem': 'idItem' }) }}">Validation finale du jeu</a>
                </button>
            </div>
        </div>

    </div>
{% endblock %}
