{% extends 'base.html.twig' %}

{% block title %}Ajout d'une famille{% endblock %}

{% block body %}
    <h1>Ajout d'une famille</h1>

    <p>    {{ relationship.id }}
    </p>
    {{ include('relationship/_form.html.twig') }}

    <a href="{{ path('app_main') }}">retour en arrière</a>
{% endblock %}
