{% extends 'base.html.twig' %}

{% block title %}Ajout d'une famille{% endblock %}

{% block body %}
    <div class="cont-hidden ">

        <div class="cont-title"><h1>Ajouter <span
                        class="color-green">{{ member.firstName|upper }} {{ member.lastName|upper }} </span>à la
                famille {% for relationship in family.relationships %}

                    {% if relationship.isOwner == 1 %}
                        <span style="color: #25963F">{{ relationship.member.lastName|upper }}</span>
                    {% endif %}
                {% endfor %}
            </h1>

        </div>

        <div class="cont margin-0 padding-0 flex-space-center">
            <div>{{ include('relationship/_form.html.twig') }}</div>
        </div>
    </div>
{% endblock %}
