{% extends 'base.html.twig' %}

{% block title %}Ajout d'une famille{% endblock %}

{% block body %}
    <h1>Confirmation</h1>
    <p>Confirmez que la famille {{ member.lastName }} va etre créee avec pour titulaire {{  member.firstName }}</p>



    {{ include('relationship/_form.html.twig') }}


{% endblock %}
