{% extends 'base.html.twig' %}

{% block title %}Ajout d'une famille{% endblock %}

{% block body %}

    <div class="cont-hidden ">
        <div class="cont-title"><h1>Confirmation</h1></div>
        <div class="cont margin-0 padding-0">
            <p class="bold text-center" style="font-size: 20px">Confirmez que la famille {{ member.lastName|upper }} va
                etre
                créee avec pour
                titulaire {{ member.firstName|upper }}</p>


            {{ include('relationship/_form.html.twig') }}
        </div>
    </div>
{% endblock %}
