{% extends 'base.html.twig' %}

{% block title %}Nouveau paiement de cotisation{% endblock %}

{% block body %}
    <h1>Paiement de la cotisation</h1>
    <p>Pour pouvoir effectuer un emprûnt ou participer à une cession la cotisation doit être payée. Néanmoins, vous pouvez finir l’enregistrement de la famille sans valider cette étape, et un délai de 15 jours sera accorder pour le paiement.
        <br> <strong>Pour ça choisissez "Payez plus tard" le mode de paiement</strong> </p>


    {{ include('payment/_form.html.twig') }}

{#    <button><a href="{{ path('app_payment_new') }}">Payez plus tard</a></button>#}

{#, {'idFamily': idFamily}, {'idMember': idMember})#}
    
    <a href="{{ path('app_payment_index') }}">back to list</a>
{% endblock %}
