{% extends 'base.html.twig' %}

{% block title %}Nouveau paiement de cotisation{% endblock %}

{% block body %}
    <div class="cont-hidden ">
        <div class="cont-title"><h1>Etape de paiement 1: Payer la cotisation</h1>
            <h5 class="margin-5" style="color: #79747E; font-size: 16px"><span class="color-black">A suivre:</span> Etape de paiement 2: dépot de garantie</h5>
        </div>
        <div class="cont margin-0 padding-0">

            <p class="bold text-center">Pour pouvoir effectuer un emprûnt ou participer à une cession la cotisation doit
                être payée. Néanmoins,
                vous
                pouvez finir l’enregistrement de la famille sans valider cette étape, et un délai de 15 jours sera
                accorder
                pour le paiement.
                <br> <strong>Pour ça choisissez "Payez plus tard" le mode de paiement</strong></p>


            {{ include('payment/_form.html.twig') }}
        </div>

    </div>
{% endblock %}
