<form method="post" action="{{ path('app_item_delete', {'id': item.id}) }}" onclick="return postMessage() "  onsubmit="return confirm('Etes vous sur de vouloir supprimer  {{ item.name }}?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ item.id) }}">
    <button class="warning-button margin-0 padding-5"> <img width="20px" src="/img/delete.svg" alt="supprimer"></button>
</form>
