<form method="post" action="{{ path('app_item_replace', {'id': item.id}) }}"
      onsubmit="return confirm('Etes vous sur de vouloir remettre en circulation:  {{ item.name }}?');">
    <input type="hidden" name="_token" value="{{ csrf_token('replace' ~ item.id) }}">

   <button style="max-height: 45px" class="warning-button margin-0 padding-5"> <img width="20px"
                                                               src="/img/unarchive.svg"
                                                               alt="remettre en circulation"> </button>
</form>
