{% extends 'base.html.twig' %}

{% block title %}Ajout d'article{% endblock %}

{% block body %}
    <h1>Formulaire d'ajout d'un jeu dans la base de données de la ludothèque</h1>

    {{ include('item/_form.html.twig') }}

    <a href="{{ path('app_main') }}">Retour à l'acceuil</a>
{% endblock %}
