{% extends 'base.html.twig' %}

{% block title %}
    Resolution de contentieux

{% endblock %}

{% block body %}


    
        <div class="cont">

            <h1>Résolution de contentieux pour la famille
                {% for relation in family.relationships %}
                    {% if relation.isOwner == 1 %}
                        {{ relation.member.lastName }}
                    {% endif %}
                {% endfor %}
            </h1>
            <p>Confirmer que la famille
                {% for relation in family.relationships %}
                    {% if relation.isOwner == 1 %}
                        {{ relation.member.lastName }}
                    {% endif %}
                {% endfor %}
                a résolu le contentieux concernant le jeu
                {{ item }}

            </p>
            <p>    {{ include('loan/_form.html.twig') }}</p>

        </div>








{% endblock %}
